<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>List</title>
        <!-- load css files -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>      
        <main>
        <h1>温湿度_Log</h1>
	<form action="/" method="get">
				<p>
				<input type="submit" value="ホームに戻る">
				</p>
					</form>
	<div class="container-fluid">
	    <div class="row">
		<div class="col-md">
            <h3>現在の温湿度</h3>
			<p>温度:{{req["log"][0]["temp"]}}°C </p>
			<p>湿度:{{req["log"][0]["humi"]}}%</p>
		</div>
		<div class="col-md">
	    <h3>Logs</h3>
                <form>
		    <div>
			データ数: 
			<input type="number" name="n" placeholder="5" required>
			</div>
		    <p>
			<input type="submit" value="送信"><input type="reset" value="リセット">
		    </p>
                </form>
		<table class="table table-striped">
    		    <tr>
      			<th>日付</th>
			    <th>温度(°C)</th>
				<th>湿度(%)</th>
    		    </tr>
           	    {% for log in req["log"] %}
		    <tr>
	        	<td>{{ log["date_at"] }}</td>
			    <td>{{ log["temp"] }}</td>
			    <td>{{ log["humi"] }} </td>
		    </tr>
		    {% endfor %}
		</table>
		</div>
	    </div>
        </div>
        </main>
    </body>
</html>
